/* Import av fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/*
Dark blue - #13293d
Lapis blue - #247ba0
Bright blue - #1b98e0
Antiflash white - #e8f1f2
Orange - #ef7a26

WHITE #e8f1f2
BRIGHT RED #ad343e
DARKER RED #a31621
RICH BLACK #07020d
GRAY #93898c
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #E8F1F2;
    position: relative;
}

body * {
    position: absolute;
}

p, h1, a, form {
    font-family: 'Roboto', sans-serif;
    max-font-size: 1em;
}

/*HEADER START*/
header {
    width: 100%;
    min-width: 100%;
    height: 60px;
    background: #ad343e;
    border-bottom: #07020d solid 1px;
}

header a {
    color: #E8F1F2;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 100px;
    transition: 0.25s ease-out;
}

header a:link, a:visited {
    text-decoration: none;
}

header a:hover {
    background: #a31621;
}

#about {
    left: 20px;
    z-index: 1;
}

#logo {
    right: 0;
    left: 0;
    width: 300px;
    margin: 0 auto;
}

#logo h1 {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 60px;
    color: #E8F1F2;
}

#settings {
    right: 20px;
}

#logOut {
    right: 125px;
}

#logIn {
    right: 125px;
}

#profileButton {
    right: 230px;
}

/* SPLITTER HEADER > MAIN*/
#menu {
    top: 65px;
    left: 0;
    right: 0;
    margin: 0;
    transition: 0.75s;
}

#menu * {
    position: relative;
    z-index: 15;
}

#menu ul {
    text-align: center;
    list-style: none;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}

#menu li {
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #ad343e;
    margin: 0;
    color: #E8F1F2;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ad343e;
}

#menu li:hover {
    border: 1px solid #ad343e;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
    transition: 0.25s;
}

#menu  li.active {
    border: 1px solid #ad343e;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
}

/* MAIN - HÅLLER CONTENT & MESSAGE WINDOW */
main {
    background: #ad343e;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    top: 96px;
    left: 0;
    right: 0;
    transition: 0.75s;
}

/* LIGGER INNE I MAIN, INNEHÅLLER OBJECT */
#content {
    margin: 0 auto;
    left: 0;
    right: 0;
    border: #a31621 solid 1px;
    background: #E8F1F2;
    width: 1000px;
    height: 100%;
    z-index: 10;
}

.contactContent {
    position: relative;
    top: 170px;
    left: 270px;
    bottom: 20px;
    border: #a31621 solid 1px;
    background: #E8F1F2;
    width: 700px;
    height: 500px;
    display: inline-block;
    overflow: inherit;
}

#infoCont{
    position: absolute;
    width: 500px;
    height: 150px;
    border: 2px solid #a31621;
    top: 20px;
    bottom: 20px;
    left: 100px;
}
#conText{
    text-align: center;
    transition: 0.75s;
    margin-top: 3px;
    width: 500px;
    height: 140px;
    top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}
#contactO{
    position: relative;

}



#welcomeScreen {
    margin: 5px 5px 0 5px;
    height: 200px;
    width: 990px;
    background: #E8F1F2;
    border: 1px solid #a31621;
    position: relative;
}

#welcomeScreen * {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTAINS "PLACES" */
#boxContainer {
    height: 165px;
    width: 238px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #07020d;
    position: relative;
    float: left;
    text-align: center;
}

.placeName {
    left: 0;
    right: 0;
    background: #ad343e;
    color: #E8F1F2;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.placeType {
    bottom: 0;
    background: #E8F1F2;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.placeImg {
    height: 110px;
    width: 238px;
    display: flex;
    bottom: 0;
}

.placeImg img {
    height: 110px;
    width: 238px;
    bottom: 25px;
    opacity: 0.65;
    transition: 0.30s;

}

#boxContainer:hover .placeImg img {
    opacity: 0.9;
}

/* ÅKER UT FRÅN MAIN*/
#infoWindow {
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.75s;
    z-index: 1;
}

#closeButton {
    border: 1px solid #a31621;
    width: 300px;
    height: 20px;
    top: 0;
    background: #ad343e;
    color: #E8F1F2;
}

#closeButton p {
    margin: 0 auto;
    right: 5px;
    transition: 1s ease;
}

#closeButton:hover p {
    right: 247px;
}

#infoContent {
    text-align: center;
    transition: 0.75s;
    margin-top: 5px;
    height: 300px;
    width: 298px;
    top: 20px;
    right: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
}

/*add_event*/
#addEvDiv {
    position: relative;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    background-color: #E8F1F2;
    margin: 0 auto;
    padding: 20px;
}

#addEvDiv * {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

#addEvDiv input {
    border: 1px solid #ccc;
}

#addEvSubmit {
    background-color: #4CAF50;
    color: #E8F1F2;
    border: none;
    cursor: pointer;
}

#addEvSubmit:hover {
    background-color: #45a049;
}