/* Import av fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
Dark blue - #13293d
Lapis blue - #247ba0
Bright blue - #1b98e0
Antiflash white - #e8f1f2
Orange - #ef7a26

WHITE #e8f1f2
BRIGHT RED #ad343e
DARKER RED #a31621
RICH BLACK #07020d
GRAY #93898c

*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #E8F1F2;
    position: relative;
}

body * {
    position: absolute;
}

p, h1, a, form {
    font-family: 'Roboto', sans-serif;
    max-font-size: 1em;
}

/*HEADER START*/
header {
    width: 100%;
    height: 150px;
    background: #ad343e;
    border-bottom: #a31621 solid 1px;
}

header h1, p {
    color: #E8F1F2;
}

/* HEADER VÄNSTER */
#headerLeft {
    left: 0;
    width: 500px;
}

#profilePicture {
    height: 130px;
    width: 130px;
    background: #E8F1F2;
    margin: 10px;
    left: 0;
}

#profileName {
    left: 150px;
    top: 37px;
    border-bottom: 5px solid #E8F1F2;
}

/* HEADER CENTER */
#headerCenter {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 35px;
}

#productName {
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* HEADER RIGHT */
#headerRight {
    right: 10px;
    width: 150px;
    height: 150px;
}

#logOut {
    left: 20px;
    top: 0px;
    width: 150px;
    height: 40px;

}

#settings {
    top: 95px;
    left: 20px;
    width: 140px;
    height: 40px;
    border-bottom: 5px solid #E8F1F2;
}

#headerRight h1 {
    left: 20px;
    margin: 0 auto;
    top: 0;
}
/* HEADER END*/

/* MAIN - HÅLLER CONTENT & MESSAGE WINDOW */
main {
    background: #ad343e;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    top: 200px;
    left: 0;
    right: 0;
    border-top: #a31621 solid 1px;
    transition: 0.75s;
}

/* LIGGER INNE I MAIN, INNEHÅLLER OBJECT */
#content {
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #E8F1F2;
    width: 998px;
    height: 99%;
    z-index: 10;
}

/* CONTAINS "PLACES" */
#placeContainer {
    height: 200px;
    width: 200px;

    margin: 5px;
    position: relative;
    float: left;
    text-align: center;
    box-shadow: 0 0 3px #000;
}

/* ÅKER UT FRÅN MAIN*/
#messageWindow {
    height: 100%;
    width: 300px;
    right: 0px;
    top: -5px;
    opacity: 0;
    overflow: hidden;
    transition: 0.75s;
    z-index: 5;
}

#closeButton {
    border-top: 5px solid #EF7A26;
    width: 300px;
    height: 30px;
    top: 0;
    background: #13293D;
    box-shadow: -3px 0 3px #13293D;
}

#closeButton p {
    margin: 0 auto;
    left: 5px;
    top: 5px;
}
