/* Import av fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #E8F1F2;
    position: relative;
}

wrapper * {
    position: absolute;
}

p, h1, a, form {
    font-family: 'Roboto', sans-serif;
}

/*HEADER START*/
header {
    width: 100%;
    min-width: 100%;
    height: 70px;
    background: -webkit-linear-gradient(left, #004e64 0%,#154b70 100%);
    box-shadow: 0 0 35px #929292;
}

header a {
    color: #E8F1F2;
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 100px;
    transition: 0.25s ease-out;
}

header a:link, a:visited {
    text-decoration: none;
}

header a:hover {
    background: #427AA1;
}

body:hover {
    cursor: default;
}

header #about-btn {
    left: 20px;
    z-index: 1;
}

header #logo {
    right: 0;
    left: 0;
    width: 300px;
    margin: 0 auto;
}

header #logo:hover {
    background: #004E64;
}

header .lg-pic {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10.5px;
    width: 210px;
    height: 49px;
}

header #settings-btn {
    right: 20px;
}

header #logout-btn {
    right: 20px;
}

header #login-btn {
    right: 125px;
}

header #profile-btn {
    right: 125px;
}

header #username_session {
    color: #E8F1F2;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    right: 230px;
    height: 70px;
    width: 100px;
    margin: 0;
}

/* SPLITTER HEADER > MAIN*/
#menu {
    top: 80px;
    left: 0;
    right: 0;
    margin: 0;
    transition: 0.75s;
}

#menu * {
    position: relative;
    z-index: 15;
}

#menu ul {
    text-align: center;
    list-style: none;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}

#menu li {
    border-top-left-radius: 5px;
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #004E64;
    margin: 0;
    color: #E8F1F2;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #004E64;
    border-bottom: #E8F1F2;
}

#menu li:hover {
    border: 1px solid #427AA1;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
    transition: 0.25s;
}

#menu li.active {
    border: 1px solid #004E64;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
}

/* MAIN - HÅLLER CONTENT & MESSAGE WINDOW */
main {
    width: 1260px;
    max-width: 1260px;
    margin: 0 auto;
    height: 75%;
    min-height: 75%;
    top: 111px;
    left: 0;
    right: 0;
    transition: 0.75s;
    border-top-left-radius: 10px;
}

/* LIGGER INNE I MAIN, INNEHÅLLER OBJECT */
#content {
    margin: 0 auto;
    border-top-left-radius: 10px;
    left: 0;
    right: 0;
    border: #004E64 solid 1px;
    background: #E8F1F2;
    width: 1260px;
    max-width: 1260px;
    height: 100%;
    z-index: 10;
    overflow: scroll;
    padding-bottom: 10px;
}

#welcome-splash {
    margin: 0 auto;
    height: 100%;
    background: #E8F1F2;
    position: relative;
}

#welcome-splash * {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

/* CONTAINS "PLACES" */
#box-con {
    height: 165px;
    width: 240px;
    margin: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}

#box-con:hover {
    box-shadow: 0 0 10px #929292;
}

.box-name {
    left: 0;
    top: 80px;
    background: #004E64;
    color: #E8F1F2;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    z-index: 1;
}

.box-type {
    bottom: 20px;
    background: #E8F1F2;
    left: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.box-distance {
    bottom: 100px;
    background: #E8F1F2;
    left: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.box-img {
    height: 165px;
    width: 240px;
    display: flex;
    top: 0;
}

.box-img img {
    height: 165px;
    width: 240px;
    bottom: 0;
    opacity: 1;
    transition: 0.30s;
    filter: grayscale(100%);
}

#box-con:hover .box-img img {
    opacity: 0.9;
    filter: grayscale(0%);
}

/* ÅKER UT FRÅN MAIN*/
#info-win {
    height: 500px;
    overflow: hidden;
    width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 70px;
    opacity: 0;
    transition: 0.75s;
    z-index: -1;
    background: #E8F1F2;
    border: 1px solid #004E64;
    border-top-left-radius: 5px;
}

#info-close-btn {
    border: 1px solid #004E64;
    left: -1px;
    border-top-left-radius: 5px;
    width: 600px;
    height: 20px;
    top: -1px;
    background: #004E64;
    color: #E8F1F2;
}

#info-close-btn p {
    margin: 0 auto;
    right: 5px;
    transition: 1s ease;
}

#info-close-btn:hover {
    background: #427AA1;
}

#info-content {
    text-align: left;
    transition: 0.75s;
    height: 475px;
    width: 600px;
    top: 20px;
    right: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

.info-container {
    width: 275px;
    font-family: 'Roboto:100', sans-serif;
}

.info-container * {
    position: relative;
    margin: 5px 15px;
}

.event-i-places {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-top-left-radius: 5px;
    padding: 5px 0 0 7px;
    margin: 20px 15px;
    width: 245px;
}

.event-i-event {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-top-left-radius: 5px;
    padding: 5px 0 0 7px;
    margin: 10px 10px;
    width: 245px;
}

.event-i-places h1 {
    text-align: left;
    color: #000;
    font-size: 20px;
    margin: 0;
}

.place-event {
    overflow: hidden;
    margin: 20px 0;
    height: 60px;
    box-shadow: 0 0 3px #000;
}

.place-event * {
    margin: 0 0 4px;
}

.place-event p {
    padding: 0 5px;
    box-shadow: 0 0 1px #000;
}

.place-event-name {
    background: #004E64;
    color: #E8F1F2;
}

.place-event-time {
    background: #E8F1F2;
}

.place-event-img {
    position: absolute;
    margin: 0;
    padding: 0;
    left: -10px;
    top: -5px;
    width: 245px;
    height: 60px;
    overflow: hidden;
}

.place-event-img img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.info-img {
    margin: 10px 5px;
    width: 265px;
    height: 190px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    opacity: 1;
    z-index: 40;
    transition: 300ms;
}

.info-img img {
    margin: 0;
    left: 0;
    width: 265px;
    height: 190px;
}

.info-msg {
    overflow: scroll;
    right: 0;
    width: 325px;
    height: 475px;
}

.info-msg * {
    position: relative;
}

.info-msg-box {
    border-left: #07020d solid 1px;
    border-bottom: #07020d solid 1px;
    margin: 20px 5px;
    width: 300px;
    text-align: left;
    padding: 3px 6px;
}

.info-msg-name {
    border-left: #07020d solid 1px;
    position: absolute;
    left: -1px;
    height: 12px;
    top: -12px;
    line-height: 14px;
    background: #004E64;
    font-size: 60%;
    color: #E8F1F2;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.delete-comment-btn {
    position: absolute;
    right: -20px;
    bottom: 2px;
    width: 0;
    height: 100%;
    background: #E8F1F2;
    text-align: center;
    line-height: 25px;
    display: none;
    font-size: 150%;
    z-index: 36;
}

.info-msg-box:hover .delete-comment-btn {
    display: block;
    right: 0;
    width: 30px;
    background: #004E64;
    color: #E8F1F2;
}

.delete-comment-btn:hover {
    background: #427AA1;
    box-shadow: 0 0 3px #929292;
}

.info-msg-comment {
    width: 265px;
}

#info-msg-add {
    background: #FFF;
    margin: 10px 0 10px 0;
    left: 5px;
    padding: 3px 0 3px 3px;
    box-shadow: 0 0 2px #000;
    width: 310px;
}

#info-msg-add form {
    width: 310px;
}

#info-msg-add input {
    text-align: center;
    margin: 0 0 5px 5px;
    width: 245px;
    height: 20px;
    padding: 0;
    border: none;
}

#info-msg-add button {
    width: 54px;
    height: 25px;
    top: 0;
    right: 0;
    background: #004E64;
    margin: 5px 0 0 -5px;
    border: none;
    padding: 0;
    color: #E8F1F2;
    font-family: 'Roboto', sans-serif;
}

#info-msg-add button:hover {
    background: #427AA1;
}

/*add_event*/
#addEvDiv {
    position: relative;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    background-color: #E8F1F2;
    margin: 0 auto;
    padding: 20px;
}

#addEvDiv * {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 15px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

#addEvDiv input {
    border: 1px solid #ccc;
}

#addEvSubmit {
    background-color: #004E64;
    color: #E8F1F2;
    border: none;
    cursor: pointer;
}

#addEvSubmit:hover {
    background-color: #427AA1;
}

.infoInAnim {
    -webkit-animation: infoIn 300ms forwards;
    -o-animation: infoIn 300ms forwards;
    animation: infoIn 300ms forwards;
}

.infoOutAnim {
    -webkit-animation: infoOut 300ms forwards;
    -o-animation: infoOut 300ms forwards;
    animation: infoOut 300ms forwards;
}

@keyframes infoIn {
    0% {
        transform: translate3d(-100%, 0, 0);
        display: none;
        opacity: 0;
        z-index: -1;
    }
    100% {
        transform: translateX(0);
        display: block;
        opacity: 1;
        z-index: 35;
    }
}

@keyframes infoOut {
    0% {
        transform: translateX(0);
        display: block;
        opacity: 1;
        z-index: 35;
    }
    100% {
        transform: translate3d(100%, 0, 0);
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

.hidestuff {
    display: none;
}

/* CONTACT sida */
.contactContent {
    position: absolute;
    left: 0px;
    bottom: 20px;
    border: #004E64 solid 1px;
    background: #E8F1F2;
    width: 700px;
    height: 700px;
    display: inline-block;
    overflow: inherit;
}

.contactContent * {
    position: relative;
}

#infoCont {
    position: absolute;
    width: 500px;
    height: 150px;
    border: 2px solid #004E64;
    top: 20px;
    bottom: 20px;
    left: 100px;
}

#conText {
    text-align: center;
    margin-top: 3px;
    width: 500px;
    height: 140px;
    top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}

.contactFrm {
    height: 500px;
}

#fixForm {
    top: 150px;
}

#fixForm * {
    left: 50px;
    bottom: -20px;
}

.contactFrm h4 {
    font-size: 1em;
    color: #004E64;
    margin-bottom: 0.3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.contactFrm input[type="text"], .contactFrm input[type="email"] {
    width: 50%;
    color: #004E64;
    background: #fff;
    outline: none;
    font-size: 0.8em;
    padding: .5em 1em;
    border: 1px solid #004E64;
    -webkit-appearance: none;
    display: block;
    margin-bottom: 1.2em;
}

.contactFrm textarea {
    resize: none;
    width: 50%;
    background: #fff;
    color: #004E64;
    font-size: 0.8em;
    outline: none;
    padding: .5em 1em;
    border: 1px solid #004E64;
    min-height: 8em;
    -webkit-appearance: none;
}

.contactFrm input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: 0.5em 0;
    font-size: 1em;
    background: #004E64;
    transition: 0.5s all;
    border: 1px solid #004E64;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 20%;
    cursor: pointer;
}

.contactFrm input[type="submit"]:hover {
    background: none;
    color: #004E64;
}

p.statusMsg {
    font-size: 18px;
}

p.succdiv {
    color: black;
}

p.errordiv {
    color: darkred
}

#textI {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #004E64;
    left: 149px;
    bottom: -50px;
}

#logreg {
    position: relative;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    background-color: #E8F1F2;
    margin: 0 auto;
    padding: 20px;
}

#logreg * {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin: 0 0 25px 0;
    box-sizing: border-box;
}

#logreg input[type=submit] {
    background: #004E64;
    border: none;
    color: #E8F1F2;
}

#logreg input[type=submit]:hover {
    background: #004E64;
}

.acc-box {
    position: absolute;
    width: 160px;
    height: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 25px;
    float: left;
    font-size: 10px;
    text-align: center;
    color: #E8F1F2;
    line-height: 30px;
    z-index: 44;
    background: #004E64;
}

.acc-del {
    width: 80px;
    height: 30px;
    float: left;
    background: #ad1a1a;
}

.decli-del {
    width: 80px;
    height: 30px;
    float: right;
    background: #004E64;
}

.decli-del:hover {
    background: #427AA1;
}

.acc-del:hover {
    background: #891111;
}

#new-event-btn {
    width: 200px;
    height: 30px;
    background: #004E64;
    border-top-left-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #E8F1F2;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

#new-event-btn:hover {
    background: #427AA1;
}

#new-event-btn:after {
    content: "Nytt arrangement";
}

.neweventlink {
    width: 200px;
    height: 30px;
    right: -2px;
    top: -30px;
}

.must-login-txt {
    top: 25px;
    margin: 0 auto;
    width: 275px;
    text-align: center;
}

.rotationPicture {
    opacity: 0;
}

@keyframes image-2 {
    0% {opacity: 0;}
    15% {opacity: 1;}
    25% {opacity: 1;}
    35% {opacity: 1;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    75% {opacity: 1;}
    85% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes image-3 {
    0% {opacity: 0;}
    15% {opacity: 0;}
    25% {opacity: 1;}
    35% {opacity: 1;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    75% {opacity: 1;}
    85% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes image-4 {
    0% {opacity: 0;}
    15% {opacity: 0;}
    25% {opacity: 0;}
    35% {opacity: 1;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    75% {opacity: 0;}
    85% {opacity: 0;}
    100% {opacity: 0;}
}

#logo:hover .img-2 {
    animation: image-2 5s infinite;
}
#logo:hover .img-3 {
    animation: image-3 5s infinite;
}
#logo:hover .img-4 {
    animation: image-4 5s infinite;
}
