/* Import av fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/*
Dark blue - #13293d
Lapis blue - #247ba0
Bright blue - #1b98e0
Antiflash white - #e8f1f2
Orange - #ef7a26

WHITE #e8f1f2
BRIGHT RED #ad343e
DARKER RED #a31621
RICH BLACK #07020d
GRAY #93898c

*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #E8F1F2;
    position: relative;
}

body * {
    position: absolute;
}

p, h1, a, form {
    font-family: 'Roboto', sans-serif;
    max-font-size: 1em;
}

/*HEADER START*/
header {
    width: 100%;
    height: 60px;
    background: #ad343e;
    border-bottom: #07020d solid 1px;
}

header a {
    color: #E8F1F2;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 100px;
    transition: 0.25s ease-out;
}

a:hover {
    background: #a31621;
}

#eventBtn {
    left: 125px;
}

#restBtn {
    left: 20px;
}

#logo {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #E8F1F2;
    top: 5px;
}

#settings {
    right: 125px;
}

#logOut {
    right: 20px;
}

/* SPLITTER HEADER > MAIN*/
#menu {
    height: 30px;
    width: 1000px;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.75s;
}

.menuElement {
    display: inline-block;
    position: relative;
    width: 225px;
    height: 30px;
    margin: 0 10px;
    background: #ad343e;
    border: 1px solid #07020d;
}



/* MAIN - HÅLLER CONTENT & MESSAGE WINDOW */
main {
    background: #ad343e;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    top: 110px;
    left: 0;
    right: 0;
    transition: 0.75s;
}

/* LIGGER INNE I MAIN, INNEHÅLLER OBJECT */
#content {
    margin: 0 auto;
    left: 0;
    right: 0;
    border: #a31621 solid 1px;
    background: #E8F1F2;
    width: 1000px;
    height: 100%;
    z-index: 10;
}

/* CONTAINS "PLACES" */
#placeContainer {
    height: 165px;
    width: 238px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #07020d;
    position: relative;
    float: left;
    text-align: center;
}

#verticalLine {
    width: 1px;
    background: #07020d;
    height: 20px;
    top: 37.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#placeName {
    left: 0;
    right: 0;
    background: #ad343e;
    color: #E8F1F2;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

#placeType {
    top: 37.5px;
    right: 130px;
}

#placeDistance {
    top: 37.5px;
    left: 130px;
}

#imgHolder {
    border-top: #a31621 3px solid;
    height: 100px;
    width: 238px;
    display: flex;
    bottom: 0;
}

#imgHolder img {
    height: 100px;
    width: 238px;
    left: 0;
    right: 0;
    opacity: 0.65;
    transition: 0.25s;
}

#placeContainer:hover #imgHolder img {
    opacity: 0.9;
}

/* ÅKER UT FRÅN MAIN*/
#messageWindow {
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.75s;
    z-index: 5;
}

#closeButton {
    border: 1px solid #a31621;
    width: 300px;
    height: 20px;
    top: 0;
    background: #ad343e;
    color: #E8F1F2;
}

#closeButton p {
    margin: 0 auto;
    right: 5px;
    transition: 1s ease;
}

#closeButton:hover p {
    right: 247px;
}

#messInformation {
    border-bottom: 1px solid black;
    height: 300px;
    width: 300px;
    top: 20px;
    right: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
}

#messInfoImg {
    top: 0;
    height: 150px;
    width: 300px;
}

#messInfoName {
    height: 30px;
    top: 150px;
    line-height: 30px;
    width: 300px;
    text-align: center;
    background: #ad343e;
    color: #E8F1F2;
}

