/* Import av fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/*
Dark blue - #13293d
Lapis blue - #247ba0
Bright blue - #1b98e0
Antiflash white - #e8f1f2
Orange - #ef7a26

WHITE #e8f1f2
BRIGHT RED #ad343e
DARKER RED #a31621
RICH BLACK #07020d
GRAY #93898c
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #E8F1F2;
    position: relative;
}

wrapper * {
    position: absolute;
}

p, h1, a, form {
    font-family: 'Roboto', sans-serif;
    max-font-size: 1em;
}

/*HEADER START*/
header {
    width: 100%;
    min-width: 100%;
    height: 70px;
    background: #ad343e;
    border-bottom: #07020d solid 1px;
    box-shadow: 0 0 35px #929292;
}

header a {
    color: #E8F1F2;
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 100px;
    transition: 0.25s ease-out;
}

header a:link, a:visited {
    text-decoration: none;
}

header a:hover {
    background: #a31621;
}

body:hover {
    cursor: default;
}

header #about-btn {
    left: 20px;
    z-index: 1;
}

header #logo {
    right: 0;
    left: 0;
    width: 300px;
    margin: 0 auto;
}

header #lg-pic {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    height: 70px;
}

header #settings-btn {
    right: 20px;
}

header #logout-btn {
    right: 20px;
}

header #login-btn {
    right: 125px;
}

header #profile-btn {
    right: 125px;
}

header #username_session {
    right: 230px;
}

/* SPLITTER HEADER > MAIN*/
#menu {
    top: 80px;
    left: 0;
    right: 0;
    margin: 0;
    transition: 0.75s;
}

#menu * {
    position: relative;
    z-index: 15;
}

#menu ul {
    text-align: center;
    list-style: none;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}

#menu li {
    border-radius: 2px;
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #ad343e;
    margin: 0;
    color: #E8F1F2;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ad343e;
}

#menu li:hover {
    border: 1px solid #ad343e;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
    transition: 0.25s;
}

#menu li.active {
    border: 1px solid #ad343e;
    border-bottom: 1px solid #E8F1F2;
    background: #E8F1F2;
    color: #07020d;
}

/* MAIN - HÅLLER CONTENT & MESSAGE WINDOW */
main {
    background: #ad343e;
    width: 992px;
    margin: 0 auto;
    height: 100%;
    top: 111px;
    left: 0;
    right: 0;
    transition: 0.75s;
    border-radius: 2px;
}

/* LIGGER INNE I MAIN, INNEHÅLLER OBJECT */
#content {
    margin: 0 auto;
    border-radius: 2px;
    left: 0;
    right: 0;
    border: #a31621 solid 1px;
    background: #E8F1F2;
    width: 992px;
    height: 100%;
    z-index: 10;
}

#welcome-splash {
    margin: 5px 5px 0 5px;
    height: 400px;
    width: 992px;
    background: #E8F1F2;
    border: 1px solid #a31621;
    position: relative;
}

#welcome-splash * {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

/* CONTAINS "PLACES" */
#box-con {
    height: 165px;
    width: 240px;
    margin: 5px 0 0 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #07020d;
    position: relative;
    float: left;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#box-con:hover {
    box-shadow: 0 0 10px #929292;
}

.box-name {
    left: 0;
    top: 80px;
    background: #ad343e;
    color: #E8F1F2;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    z-index: 1;
}

.box-type {
    bottom: 20px;
    background: #E8F1F2;
    left: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.box-img {
    height: 165px;
    width: 240px;
    display: flex;
    top: 0;
}

.box-img img {
    height: 165px;
    width: 240px;
    bottom: 0;
    opacity: 1;
    transition: 0.30s;
    filter: grayscale(100%);
}

#box-con:hover .box-img img {
    opacity: 0.9;
    filter: grayscale(0%);
}

/* ÅKER UT FRÅN MAIN*/
#info-win {
    height: 600px;
    width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 70px;
    opacity: 1;
    transition: 0.75s;
    z-index: -1;
    background: #E8F1F2;
    border: 1px solid #ad343e;
}

#info-close-btn {
    border: 1px solid #a31621;
    width: 600px;
    height: 20px;
    top: 0;
    background: #ad343e;
    color: #E8F1F2;
}

#info-close-btn p {
    margin: 0 auto;
    right: 5px;
    transition: 1s ease;
}

#info-close-btn:hover {
    background: #a31621;
}

#info-content {
    text-align: left;
    transition: 0.75s;
    height: 600px;
    width: 600px;
    top: 20px;
    right: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
}

.info-container {
    width: 275px;
    height: 600px;
}

.info-container * {
    position: relative;
    margin: 5px 15px;
}

.event-i-places {
    text-align: center;
    width: 245px;
}

.event-i-places h1 {
    text-align: center;
    background: #ad343e;
    color: #E8F1F2;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px;
}

.info-img {
    margin: 10px 5px;
    width: 265px;
    height: 190px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    opacity: 0.75;
    z-index: 40;
    transition: 300ms;
}

.info-img:hover {
    transform: scale(1.50);
    opacity: 1;
}

.info-img img {
    margin: 0;
    left: 0;
    width: 265px;
    height: 190px;
}

.info-msg {
    right: 0;
    width: 325px;
    height: 600px;
}

.info-msg * {
    position: relative;
}

.info-msg-box {
    border-left: #07020d solid 1px;
    border-bottom: #07020d solid 1px;
    margin: 20px 5px;
    width: 300px;
    text-align: left;
    padding: 5px;
}

.info-msg-name {
    border-left: #07020d solid 1px;
    position: absolute;
    left: -1px;
    height: 12px;
    top: -12px;
    line-height: 14px;
    background: #ad343e;
    font-size: 60%;
    color: #E8F1F2;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.delete-comment-btn {
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 100%;
    background: #E8F1F2;
    text-align: center;
    line-height: 30px;
    display: none;
    font-size: 150%;
    z-index: 36;
}

.info-msg-box:hover .delete-comment-btn {
    display: block;
    right: 0;
    width: 30px;
    background: #a31621;
    color: #E8F1F2;
}

.delete-comment-btn:hover {
    box-shadow: 0 0 10px #929292;
}

.info-msg-comment {
    width: 265px;
}

#info-msg-add {
    background: #45a049;
    margin: 2px;
}

#info-msg-add input {
    text-align: center;
    margin: 10px 0 10px 5px;
    width: 250px;
    height: 20px;
    padding: 0;
    border: none;
}

#info-msg-add button {
    width: 54px;
    height: 28px;
    top: 0;
    background: #ad343e;
    margin: 5px 0 0 -5px;
    border: none;
    padding: 0;
    color: #E8F1F2;
    font-family: 'Roboto', sans-serif;
}

#info-msg-add button:hover {
    background: #a31621;
}

/*add_event*/
#addEvDiv {
    position: relative;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    background-color: #E8F1F2;
    margin: 0 auto;
    padding: 20px;
}

#addEvDiv * {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

#addEvDiv input {
    border: 1px solid #ccc;
}

#addEvSubmit {
    background-color: #4CAF50;
    color: #E8F1F2;
    border: none;
    cursor: pointer;
}

#addEvSubmit:hover {
    background-color: #45a049;
}

.infoInAnim {
    -webkit-animation: infoIn 300ms forwards;
    -o-animation: infoIn 300ms forwards;
    animation: infoIn 300ms forwards;
}

.infoOutAnim {
    -webkit-animation: infoOut 300ms forwards;
    -o-animation: infoOut 300ms forwards;
    animation: infoOut 300ms forwards;
}

@keyframes infoIn {
    0% {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
        z-index: -1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        z-index: 35;
    }
}

@keyframes infoOut {
    0% {
        transform: translateX(0);
        opacity: 1;
        z-index: 35;
    }
    100% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
        z-index: -1;
    }
}

.hidestuff {
    display: none;
}

/* CONTACT sida */
.contactContent {
    position: absolute;
    left: 0px;
    bottom: 20px;
    border: #a31621 solid 1px;
    background: #E8F1F2;
    width: 700px;
    height: 700px;
    display: inline-block;
    overflow: inherit;
}

.contactContent * {
    position: relative;
}

#infoCont {
    position: absolute;
    width: 500px;
    height: 150px;
    border: 2px solid #a31621;
    top: 20px;
    bottom: 20px;
    left: 100px;
}

#conText {
    text-align: center;
    margin-top: 3px;
    width: 500px;
    height: 140px;
    top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}

.contactFrm {
    height: 500px;
}

#fixForm {
    top: 150px;
}

#fixForm * {
    left: 50px;
    bottom: -20px;
}

.contactFrm h4 {
    font-size: 1em;
    color: #ad343e;
    top: 100px;
    margin-bottom: 0.3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.contactFrm input[type="text"], .contactFrm input[type="email"] {
    width: 50%;
    color: #ad343e;
    background: #fff;
    outline: none;
    font-size: 0.8em;
    padding: .5em 1em;
    border: 1px solid #ad343e;
    -webkit-appearance: none;
    display: block;
    margin-bottom: 1.2em;
}

.contactFrm textarea {
    resize: none;
    width: 50%;
    background: #fff;
    color: #ad343e;
    font-size: 0.8em;
    outline: none;
    padding: .5em 1em;
    border: 1px solid #ad343e;
    min-height: 8em;
    -webkit-appearance: none;
}

.contactFrm input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: 0.5em 0;
    font-size: 1em;
    background: #ad343e;
    transition: 0.5s all;
    border: 1px solid #ad343e;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 20%;
    cursor: pointer;
}

.contactFrm input[type="submit"]:hover {
    background: none;
    color: #ad343e;
}

p.statusMsg {
    font-size: 18px;
}

p.succdiv {
    color: black;
}

p.errordiv {
    color: darkred
}

#textI {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #a31621;
    left: 149px;
    bottom: -50px;
}

#logreg {
    position: relative;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    background-color: #E8F1F2;
    margin: 0 auto;
    padding: 20px;
}

#logreg * {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin: 0 0 25px 0;
    box-sizing: border-box;
}

#logreg input[type=submit] {
    background: #ad343e;
    border: none;
    color: #E8F1F2;
}

#logreg input[type=submit]:hover {
    background: #a31621;
}

.acc-box {
    position: absolute;
    width: 160px;
    height: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 25px;
    float: left;
    font-size: 10px;
    text-align: center;
    color: #E8F1F2;
    line-height: 30px;
    z-index: 44;
    background: #ad343e;
}

.acc-del {
    width: 80px;
    height: 30px;
    float: left;
    background: forestgreen;
}

.decli-del {
    width: 80px;
    height: 30px;
    float: right;
    background: #ad343e;
}
